@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap");
:root {
  /* paleta de colores*/
  --primary-solid: #ff3333;
  --primary-900: rgba(255, 51, 51, 0.9);
  --primary-500: rgba(255, 51, 51, 0.5);
  --primary-300: rgba(255, 51, 51, 0.3);

  --secondary-solid: #1d84b5;
  --secondary-900: rgba(29, 132, 181, 0.9);
  --secondary-500: rgba(29, 132, 181, 0.5);
  --secondary-300: rgba(29, 132, 181, 0.3);

  --dark-solid: #1f1f1f;
  --dark-900: rgba(31, 31, 31, 0.9);
  --dark-500: rgba(31, 31, 31, 0.5);
  --dark-300: rgba(31, 31, 31, 0.3);

  --dark-bg-solid: #30343f;
  --ligth-bg-solid: #fafaff;
  --ligth-font-solid: #ffffff;

  /* tipografias*/

  --base-font: "Inter", sans-serif;
  --altenative-font: "Raleway", sans-serif;

  /*Font sizes*/
  --font-display: 4.6em;
  --font-jumbo: 3.8em;
  --font-xlarge: 3em;
  --font-large: 2.4em;
  --font-medium: 1.8em;
  --font-small: 1.6em;
  --font-xsmall: 1.4em;

  /*Espaciado*/
  --spacing-128: 12.8rem;
  --spacing-68: 6.8rem;
  --spacing-36: 3.6rem;
  --spacing-28: 2.8rem;
  --spacing-24: 2.4rem;
  --spacing-20: 2rem;
  --spacing-16: 1.6rem;
  --spacing-12: 1.2rem;
  --spacing-8: 0.8rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*heredan todo de html*/
  font-size: 62.5%;
  color: var(--dark-solid);
  font-family: var(--base-font);
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
header,
footer {
  color: var(--ligth-font-solid);
  font-family: var(--altenative-font);
}

ul,
ol {
  list-style-type: none;
}

p {
  font-size: 1.8em;
}
img {
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
input[type="text"]::placeholder {
  color: var(--dark-300);
  font-family: var(--base-font);
  font-weight: 500;
}

/* HEADER */

header {
  background-color: var(--dark-bg-solid);
  padding: var(--spacing-36);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-20);
}
.navbar__logo {
  max-width: 300px;
}
.navbar__link {
  font-size: var(--font-medium);
  padding: var(--spacing-8) var(--spacing-16);
  display: inline-block;
  transition: 0.3s ease-in-out;
  position: relative;
}
.navbar__link:hover {
  background-color: var(--primary-900);
}
.with_icon {
  display: flex;
  margin: 0 auto;
  gap: var(--spacing-8);
}
.with-submenu:hover .submenu {
  display: block;
}
.submenu {
  display: none;
  width: 300px;
  position: absolute;
  background-color: var(--dark-bg-solid);
  z-index: 3;
}
.submenu__link {
  display: block;
  padding: var(--spacing-8) var(--spacing-16);
  font-size: var(--font-medium);
  transition: 0.3s ease-in-out;
}
.submenu__link:hover {
  background-color: var(--primary-900);
}

/* HERO // BANNER */

.hero {
  background-image: url(../img/funkos-banner.webp);
  padding: var(--spacing-128);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.hero::before {
  content: "";
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px) brightness(0.9);
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-20);
  align-items: start;
  z-index: 2;
  position: relative;
}

.hero__title {
  font-family: var(--altenative-font);
  font-size: var(--font-jumbo);
  color: var(--ligth-font-solid);
}
.hero__text {
  font-family: var(--altenative-font);
  color: var(--ligth-font-solid);
  font-size: var(--font-medium);
}
.hero__link {
  display: inline-block;
  font-size: var(--font-medium);
  background-color: var(--ligth-bg-solid);
  padding: var(--spacing-12) var(--spacing-68);
  border-radius: 50px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.hero__link:hover {
  background-color: var(--primary-900);
  color: var(--ligth-font-solid);
}
/* terminado el banner y el head. video largo de yutube,minuto 58. commit del head y commit del baner hechos */
/* empieza la parte del main... collections*/
.collection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.collection:nth-child(2) .collection__cover {
  order: -1;
}
.collection__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
  align-items: start;
}
.collection__title {
  font-family: var(--altenative-font);
  font-size: var(--font-display);
  font-weight: 500;
}
.collection__text {
  font-family: var(--altenative-font);
  font-size: var(--font-large);
  font-weight: 300;
  border-bottom: 2px solid var(--primary-solid);
  padding-bottom: var(--spacing-20);
}
.collection__link {
  display: inline-block;
  font-size: var(--font-medium);
  background-color: var(--dark-bg-solid);
  color: var(--ligth-font-solid);
  padding: var(--spacing-16) var(--spacing-36);
  border-radius: 50px;
  font-weight: 500;
  transition: background 0.3s ease-in-out;
}
.collection__link:hover {
  background-color: var(--primary-900);
}
/* slider */
.slider{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
   }
   
   .slider__title{
       font-family: var(--alternative-font);
       font-size: var(--font-display);
       text-transform: uppercase;
   }
   
   .slider__items{
    display: flex;
    gap: var(--spacing-24);
   }
   
   /* card */
   .card-item__cover{
    display: flex;
    position: relative;
    justify-content: flex-end;
   }
   
   .card-item__tag{
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
   }
   
   .card-item__cover img{
       animation: fade .7s;
   }
   
   .card-item__img--back{
    display: none;
   }
   
   .card-item__cover:hover .card-item__img--back{
       display: block;
   }
      
   .card-item__cover:hover .card-item__img--front{
       display: none;
   }
      
   .card-item__content{
   display: flex;
   flex-direction: column;
   gap: var(--spacing-12);
   padding: var(--spacing-16);
   }
   
   .card-item__licence{
   font-size: var(--font-xsmall);
   font-weight: 500;
   }
   .card-item__name{
       font-size: var(--font-medium);
       font-weight: 700;
   }
   .card-item__price{
       font-size: var(--font-small);
   
   }
   .card-item__promo{
       font-size: var(--font-medium);
       color: var(--secondary-solid);
       font-weight: 700;
   }
   
   
   /* footer */
   .footer{
     background-color: var(--dark-bg-solid);
     padding: var(--spacing-36);   
   }
   
   .footer__copy{
       margin-top: var(--spacing-36);
       text-align: center;
   }
   
   /* animations */
   @keyframes fade{
        0%{ opacity: 0; }
      100%{ opacity: 1; } 
   }

   /* SHOP PAGE */

#shop {
  display: flex;
  gap: var(--spacing-28);
  font-family: var(--base-font);
  margin: var(--spacing-68) auto;
}

.shop__filters {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-28);
}

.filters__title {
  font-size: var(--font-medium);
  font-weight: 500;
}

.filters__search,
.filters__order {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
}

.filters__search input,
.filters__order select {
  border-radius: 6px;
  border: 2px solid var(--dark-solid);
  font-size: var(--font-medium);
  padding: var(--spacing-8);
}

.filters__price div {
  margin-top: var(--spacing-12);
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.filters__price label {
  font-size: var(--font-small);
  font-weight: 500;
}

.filters__price input {
  width: 70px;
  text-align: center;
  border-radius: 6px;
  font-size: var(--font-medium);
  border: 2px solid var(--dark-solid);
  padding: 4px var(--spacing-8);
}

.filters__checks {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.filters__checks span {
  margin-bottom: var(--spacing-12);
}

.filters__checks div {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
  font-weight: 500;
  font-size: var(--font-medium);
}

.filters__checks div input {
  accent-color: var(--primary-solid);
  width: 16px;
  height: 16px;
}

.shop__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--spacing-36);
}

.shop__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: var(--spacing-28);
}

.shop__item {
  flex: 1 1 clamp(250px, 30%, 30%);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: var(--spacing-12);
}

.pagination .pagination__link {
  display: block;
  font-size: var(--font-medium);
  font-weight: 700;
  border-radius: 4px;
  padding: var(--spacing-12) var(--spacing-16);
  border: 2px solid var(--dark-300);
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.pagination .pagination__link:first-of-type,
.pagination .pagination__link:last-of-type {
  color: var(--dark-500);
}

.pagination .pagination__link:hover {
  background-color: var(--primary-900);
  color: var(--light-bg-solid);
  border-color: var(--primary-500);
}

.pagination .pagination__link--selected {
  border-color: var(--primary-solid);
  color: var(--primary-solid);
}


@media screen and (max-width: 768px) {
  
}